.heart {
    font-weight: normal;
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
    background: none;
    border: none;


    &__effect {
        display: none;
        color: transparent;
        background: linear-gradient(0deg, $primary-color, $secondary-color);
        background-clip: text;
        -webkit-background-clip: text;
        opacity: 1;
        animation: anim-heart 200ms ease-in-out;
    }

    &:hover {
        .heart__effect {
            display: block;
        }

        .heart__icone {
            display: none;
        }
    }

}

@keyframes anim-heart {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}