@import "../_components/btn-heart";

.restaurants-card {
    position: relative;
    height: 250px;
    background-color: white;

    img {
        height: 100%;
        width: 100%;
        max-height: 175px;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
    }

    &-details {
        padding-left: 10px;
        line-height: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        border-radius: 0 0 15px 15px;
    }

    .new {
        display: block;
        position: absolute;
        top: 15px;
        right: 10px;
        background-color: $third-color;
        color: white;
        padding: 7px;

        &-text {
            color: $dark-green;
            font-weight: bold;
        }
    }

}