.menu-container {
    position: relative;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    padding: 35px 5px;
    border-radius: 25px 25px 0px 0px;
    background-color: $grey-background;
    margin-top: -50px;  
}

.menu-header {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .menu-restaurant {
        font-size: 28px;
        font-weight: 400;
        font-family: 'Shrikhand', cursive;
        margin: 0;
    }
}

.menu-order {
    padding: 25px 5px;
    gap: 40px;

    .menu-order-title {
        font-size: 16px;
        font-weight: 300;

        &::after {
            content: "";
            display: block;
            border-bottom: 3px solid $third-color;
            width: 40px;
            position: relative;
            margin-top: 5px;
        }
    }

    .menu-details {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    background-color: white;
    padding: 15px;
    overflow: hidden;

    &__left {
        white-space: nowrap;
        overflow: hidden;
        gap: 5px;
    }

    &__title {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &__subtitle {
        font-weight: 300;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &__right {
        display: flex;
        align-items: end;
        gap: 40px;
    }

    &__price {
        display: flex;
        align-items: flex-end;
        font-weight: 700;
    }

    &__check {
        height: 100%;
        width: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: -10px;
        color: white;
        background-color: $third-color;
        border-radius: 0px 15px 15px 0px;
    }
}