@import "../_utils/variables";

.fonctionnement-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .fonctionnement-container-filtres {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }

}

.filtre-restaurants {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: $grey-background;
    border-radius: 20px;
    margin: 20px 0px 0px;


    &-blocNum {
        position: relative;
        margin-left: -15px;
        height: 27px;
        width: 27px;
        border-radius: 28px;
        background-color: $primary-color;
    }

    &-num {
        color: white;
        margin: 4px 0 0 9px;
    }

    &-text {
        color: black;
    }

    .fas.fa-store.icone {
        color: $primary-color;
    }

}