.footer {
    padding: 22px 25px;
    background-color: $footer-background;
    color: white;

    .title-footer {
        margin-top: 0px;
        margin-bottom: 16px;
        font-family: $title-font;
    }

    .nav-footer {
        @include flex(column);
        align-items: flex-start;
        gap: 7px;
        list-style-type: none;
        padding-left: 0;
    }

    .icone-footer {
        width: 11px;
        height: 13px;
    }

    
}