@import "../_utils/variables";
@import "../_components/btn-pink";

.logo {
    &-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        width: 100%;
        background-color: white;
    }

    &-img {
        width: 190px;
        height: auto;
    }
}

.arrow-left {
    font-size: 30px;
    color: $footer-background;
    position: absolute;
    left: 17px;
    gap: 42px;
}