@import "../_utils/variables";
@import "../_layout/global";
@import "../_utils/mixins";
@import "../_layout/header";
@import "../_layout/footer";
@import "../_components/btn-heart";
@import "../_components/carte";
@import "../_components/filtre";


.reservez-container {
    background-color: $grey-background;
}

.fonctionnement-container {
    background-color: white;
    padding: 54px 18px;

    .fonctionnement-container-filtres {
        @include flex(column);
        gap: 18px;
    }
}

.restaurants-container {
    background-color: $grey-background;
    padding: 54px 18px;

    .restaurants {
        @include flex(column);
        gap: 18px;
    }

}