@import "../_utils/variables";
@import "../_layout/global";
@import "../_utils/mixins";
@import "../_layout/header";
@import "../_layout/footer";
@import "../_components/btn-heart";
@import "../_components/carte";
@import "../_components/filtre";
@import "../_components/btn-pink";
@import "../_components/loader";

.form-container {
    display: flex;
    background-color: $location;
    height: 50px;
    justify-content: center;
    align-items: center;
    gap: 17px;

    input {
        background: none;
        border: none;
        padding: 15px;
        font-size: 16px;
    }
}

h1,
h2 {
    font-size: 24px;
    font-weight: 700;
}

h3 {
    font-size: 18px;
    font-weight: 700;
}

p {
    font-size: 17px;
    font-weight: 300;
}

.reservez-container {
    background-color: $grey-background;
    text-align: center;
    padding: 40px 34px;

    .reservez-container-text {
        font-size: 18px;
        font-weight: 300;
        color: $footer-background;
    }
}

.fonctionnement-container {
    background-color: white;
    padding: 54px 18px;

    .fonctionnement-container-filtres {
        @include flex(column);
        gap: 18px;
    }
}

.restaurants-container {
    background-color: $grey-background;
    padding: 54px 18px;

    .restaurants {
        @include flex(column);
        gap: 18px;
    }

}

@media screen and (min-width:769px) {

    .reservez-container {

        h1 {
            font-size: 40px;
        }
    }

    .fonctionnement-container {
        padding: 30px 10%;

        .fonctionnement-container-filtres {
            display: flex !important;
            flex-direction: row !important;
            justify-content: space-between;
        }

        .filtre-restaurants {
            width: 30%;
        }

    }

    .restaurants-container {
        padding: 30px 10%;

        .restaurants {
            display: grid !important;
            grid-template-columns: repeat(2, 1fr) !important;
            gap: 28px !important;
        }

        .restaurants-card {
            justify-content: space-between;
            flex-wrap: wrap;
        }

    }

}