@import "../_utils/variables";
@import "../_layout/global";
@import "../_utils/mixins";
@import "../_layout/header";
@import "../_layout/footer";
@import "../_components/btn-heart";
@import "../_components/carte";
@import "../_components/filtre";
@import "../_components/btn-pink";

.form-container {
    display: flex;
    background-color: $location;
    height: 50px;
    justify-content: center;
    align-items: center;
    gap: 17px;

    input {
        background: none;
        border: none;
        padding: 15px;
        font-size: 16px;
        align-items: center;
        justify-content: center;
    }
}

h1,
h2 {
    font-size: 24px;
    font-weight: 700;
}

.reservez-container {
    background-color: $grey-background;
    text-align: center;
    padding: 40px 34px;

    .reservez-container-text {
        font-size: 18px;
    }
}

.fonctionnement-container {
    background-color: white;
    padding: 54px 18px;

    .fonctionnement-container-filtres {
        @include flex(column);
        gap: 18px;
    }
}

.restaurants-container {
    background-color: $grey-background;
    padding: 54px 18px;

    .restaurants {
        @include flex(column);
        gap: 18px;
    }

}