/****** Color ***********/
/****** Gradient ***********/
/****** Font Family ***********/
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
html, body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
}

* {
  font-family: "Roboto", sans-serif;
}

a {
  color: unset;
  text-decoration: none;
}

/****** Color ***********/
/****** Gradient ***********/
/****** Font Family ***********/
.main-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border: none;
  padding: 0px 19px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  margin: auto;
  font-size: 16px;
}

.main-btn:hover {
  filter: brightness(1.2);
  box-shadow: 0px 8px 7px 1px rgba(0, 0, 0, 0.25);
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  background-color: white;
}
.logo-img {
  width: 190px;
  height: auto;
}

.arrow-left {
  font-size: 30px;
  color: #353535;
  position: absolute;
  left: 17px;
  gap: 42px;
}

.footer {
  padding: 22px 25px;
  background-color: #353535;
  color: white;
}
.footer .title-footer {
  margin-top: 0px;
  margin-bottom: 16px;
  font-family: "Shrikhand", serif;
}
.footer .nav-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
  list-style-type: none;
  padding-left: 0;
}
.footer .icone-footer {
  width: 11px;
  height: 13px;
}

/****** Color ***********/
/****** Gradient ***********/
/****** Font Family ***********/
.btn-heart {
  padding-right: 10px;
  font-weight: normal;
  font-size: 15px;
}

/****** Color ***********/
/****** Gradient ***********/
/****** Font Family ***********/
.btn-heart {
  padding-right: 10px;
  font-weight: normal;
  font-size: 15px;
}

.restaurants-card {
  position: relative;
  height: 250px;
  border-radius: 20px;
}
.restaurants-card img {
  height: 100%;
  width: 100%;
  max-height: 175px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.restaurants-card-details {
  padding-left: 10px;
  line-height: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
.restaurants-card .new {
  display: block;
  position: absolute;
  top: 15px;
  right: 10px;
  background-color: #99E2D0;
  color: white;
  padding: 7px;
}
.restaurants-card .new-text {
  color: #008766;
  font-weight: bold;
}

.filtre-restaurants {
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px 0px #F6F6F6;
  border-radius: 20px;
  margin-bottom: 20px;
}
.filtre-restaurants-blocNum {
  position: relative;
  margin-left: -15px;
  height: 24px;
  width: 24px;
  border-radius: 28px;
  background-color: #9356DC;
}
.filtre-restaurants-num {
  color: white;
  margin: 4px 0 0 9px;
}
.filtre-restaurants-text {
  color: black;
}
.filtre-restaurants .fas.fa-store.icone {
  color: #9356DC;
}

.main-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border: none;
  padding: 0px 19px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  margin: auto;
  font-size: 16px;
}

.main-btn:hover {
  filter: brightness(1.2);
  box-shadow: 0px 8px 7px 1px rgba(0, 0, 0, 0.25);
}

.location-container {
  background-color: #EAEAEA;
}
.location-container-link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.location-container-icone {
  padding: 10px;
}

h1, h2 {
  font-size: 24px;
  font-weight: 700;
}

.reservez-container {
  background-color: #F6F6F6;
  text-align: center;
  padding: 40px 34px;
}
.reservez-container .reservez-container-text {
  font-size: 18px;
}

.fonctionnement-container {
  background-color: white;
  padding: 54px 18px;
}
.fonctionnement-container .fonctionnement-container-filtres {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.restaurants-container {
  background-color: #F6F6F6;
  padding: 54px 18px;
}
.restaurants-container .restaurants {
  display: flex;
  flex-direction: column;
  gap: 18px;
}/*# sourceMappingURL=home.css.map */