/****** Color ***********/
/****** Gradient ***********/
/****** Font Family ***********/
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
html, body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
}

main {
  max-width: 1440px;
  margin: auto;
}

* {
  font-family: "Roboto", sans-serif;
}

a {
  color: unset;
  text-decoration: none;
}

/****** Color ***********/
/****** Gradient ***********/
/****** Font Family ***********/
.main-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border: none;
  padding: 0px 19px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  margin: auto;
  font-size: 16px;
}

.main-btn:hover {
  filter: brightness(1.2);
  box-shadow: 0px 8px 7px 1px rgba(0, 0, 0, 0.25);
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  background-color: white;
}
.logo-img {
  width: 190px;
  height: auto;
}

.arrow-left {
  font-size: 30px;
  color: #353535;
  position: absolute;
  left: 17px;
  gap: 42px;
}

.footer {
  padding: 22px 25px;
  background-color: #353535;
  color: white;
}
.footer .title-footer {
  margin-top: 0px;
  margin-bottom: 16px;
  font-family: "Shrikhand", serif;
}
.footer .nav-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
  list-style-type: none;
  padding-left: 0;
}
.footer .icone-footer {
  width: 11px;
  height: 13px;
}

@media screen and (min-width: 769px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    padding: 30px 25px !important;
    gap: 15px;
    align-items: center;
  }
  footer .title-footer {
    margin-bottom: 0 !important;
  }
  footer .nav-footer {
    display: flex;
    flex-direction: row !important;
    align-items: center !important;
    white-space: nowrap !important;
    gap: 15px !important;
  }
}
.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 15px;
  overflow: hidden;
  padding: 10px 0px 10px 20px;
  background-color: white;
}
.card:hover .card_check {
  margin-right: 0;
}
.card_left {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  overflow: hidden;
}
.card_title {
  margin-bottom: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.card_subtitle {
  font-weight: 300;
  text-overflow: ellipsis;
  overflow: hidden;
}
.card_right {
  display: flex;
  flex-direction: row;
  align-items: end;
}
.card_price {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-weight: 700;
  padding: 0 12px;
}
.card_check {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: -10px;
  color: white;
  background-color: #99E2D0;
  border-radius: 0px 15px 15px 0px;
  margin-right: -50px;
  transition: all 1s;
}

.heart {
  font-weight: normal;
  font-size: 15px;
  margin-right: 10px;
}
.heart__effect {
  display: none;
  opacity: 1;
  animation: anim-heart 600ms ease-in-out;
}
.heart:hover .heart__effect {
  display: block;
}
.heart:hover .heart__icone {
  display: none;
}

@keyframes anim-heart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.main-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border: none;
  padding: 0px 19px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  margin: auto;
  font-size: 16px;
}

.main-btn:hover {
  filter: brightness(1.2);
  box-shadow: 0px 8px 7px 1px rgba(0, 0, 0, 0.25);
}

.image-menu {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

h3,
p {
  margin: 0px;
}

.menu-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 35px 5px;
  border-radius: 25px 25px 0px 0px;
  background-color: #F6F6F6;
  margin-top: -50px;
}

.menu-header {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu-header .menu-restaurant {
  font-size: 28px;
  font-weight: 400;
  font-style: italic;
  font-family: "Shrikhand";
  margin: 0;
}

.menu-order {
  padding: 25px 5px;
  gap: 40px;
}
.menu-order .menu-order-title {
  font-size: 16px;
  font-weight: 300;
}
.menu-order .menu-order-title::after {
  content: "";
  display: block;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
  position: relative;
  margin-top: 5px;
}
.menu-order .menu-details {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.menu-order .anim1 {
  animation: anim-card 500ms ease-in-out;
}
.menu-order .anim2 {
  animation: anim-card 1s ease-in-out;
}
.menu-order .anim3 {
  animation: anim-card 1.5s ease-in-out;
}

@keyframes anim-card {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@media screen and (min-width: 769px) {
  .menu-container {
    width: 70%;
  }
  .menu-header {
    justify-content: center;
    gap: 50px;
  }
  .menu-order {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}/*# sourceMappingURL=restaurants.css.map */